- hosts: servers
  # gather_facts: no

  vars:
    packages:
    #   - ansible
    #   - make
    #   - git
    #   - nodejs
    #   - npm
      # - cowsay
    numbers: [6, 2, 1, 3, 2]

  tasks:

    # - name: update apt cache 
    #   ansible.builtin.apt:
    #     name: apt
    #     update_cache: yes
    #   become: yes
    #   tags: cache

    - name: install packages
      ansible.builtin.apt:
        name: "{{ item }}"
        state: latest
      loop:
        "{{ packages }}"
      become: yes  
      tags: installation

    - name: test conditions
      ansible.builtin.shell: echo "This is fine"
      when: ansible_os_family != "Debian"

    - name: test debug conditions 
      ansible.builtin.debug: 
        var: ansible_os_family == "Debian"  

    - name: test filter hash 
      ansible.builtin.debug: msg={{ 'test' | hash('sha1') }}

    - name: test filter expanduser 
      ansible.builtin.debug: msg={{ '~/1212' | expanduser }}

    - name: test filter random 
      ansible.builtin.debug: msg={{ ['1', '2', '3'] | random }}  

    - name: test filter nums min/max 
      ansible.builtin.debug: msg={{ numbers | max }}   